{
  "fallback": "warp",
  "preferred": "warp",
  "upstreams": [
    {
      "name": "isp-1",
      "addr": "proxy.example.net:10001",
      "username": "REPLACE_ME",
      "password": "REPLACE_ME"
    },
    {
      "name": "isp-2",
      "addr": "proxy.example.net:10005"
    },
    {
      "name": "warp",
      "addr": "host.docker.internal:40001"
    }
  ]
}
